@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Trap-Regular";
    src: local("Trap-Regular"),
      url("./fonts/Trap-Regular.ttf") format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "Trap-Black";
    src: local("Trap-Black"),
      url("./fonts/Trap-Black.ttf") format("truetype");
    font-weight: normal;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
